In [2]:
import psycopg2

# Connect to your PostgreSQL database
conn = psycopg2.connect(
    dbname="telecom", 
    user="postgres", 
    password="123456", 
    host="localhost", 
    port="5432"
)

In [20]:
def header_data():
    curr = conn.cursor()
    curr.execute("SELECT * FROM xdr_data LIMIT 10;")
    rows = curr.fetchall()
    for row in rows:
        print('\t'.join(map(str, row)))
header_data()

1.31144834608449e+19	4/4/2019 12:01	770.0	4/25/2019 14:35	662.0	1823652.0	208201448079117.0	33664962239.0	35521209507511.0	9.16456699548519E+015	42.0	5.0	23.0	44.0	None	None	100.0	0.0	0.0	0.0	100.0	0.0	0.0	0.0	None	None	37624.0	38787.0	1823652892.0	Samsung	Samsung Galaxy A5 Sm-A520F	None	None	None	None	None	None	213.0	214.0	1545765.0	24420.0	1634479.0	1271433.0	3563542.0	137762.0	15854611.0	2501332.0	8198936.0	9656251.0	278082303.0	14344150.0	171744450.0	8814393.0	36749741.0	308879636.0
1.31144834828789e+19	4/9/2019 13:04	235.0	4/25/2019 8:15	606.0	1365104.0	208201909211140.0	33681854413.0	35794009006359.0	L77566A	65.0	5.0	16.0	26.0	None	None	100.0	0.0	0.0	0.0	100.0	0.0	0.0	0.0	None	None	168.0	3560.0	1365104371.0	Samsung	Samsung Galaxy J5 (Sm-J530)	None	None	None	None	None	None	971.0	1022.0	1926113.0	7165.0	3493924.0	920172.0	629046.0	308339.0	20247395.0	19111729.0	18338413.0	17227132.0	608750074.0	1170709.0	526904238.0	15055145.0	53800391.0	653384965.0
1.31144834840805e+19	4/9/2019 17:42	1.0	4/25/2019 11:58	652.0	1361762.0	208200314458056.0	33760627129.0	35281510359387.0	D42335A	None	None	6.0	9.0	None	None	100.0	0.0	0.0	0.0	100.0	0.0	0.0	0.0	None	None	0.0	0.0	1361762651.0	Samsung	Samsung Galaxy A8 (2018)	None	None	None	None	None	None	751.0	695.0	1684053.0	42224.0	8535055.0	1694064.0	2690151.0	672973.0	19725661.0	14699576.0	17587794.0	6163408.0	229584621.0	395630.0	410692588.0	4215763.0	27883638.0	279807335.0
1.31144834854428e+19	4/10/2019 0:31	486.0	4/25/2019 7:36	171.0	1321509.0	208201402342131.0	33750343200.0	35356610164913.0	T21824A	None	None	44.0	44.0	None	None	100.0	0.0	0.0	0.0	100.0	0.0	0.0	0.0	None	None	3330.0	37882.0	1321509685.0	undefined	undefined	None	None	None	None	None	None	17.0	207.0	644121.0	13372.0	9023734.0	2788027.0	1439754.0	631229.0	21388122.0	15146643.0	13994646.0	1097942.0	799538153.0	10849722.0	749039933.0	12797283.0	43324218.0	846028530.0
1.31144834994807e+19	4/12/2019 20:10	565.0	4/25/2019 10:40	954.0	1089009.0	208201401415120.0	33699795932.0	35407009745539.0	D88865A	None	None	6.0	9.0	None	None	100.0	0.0	0.0	0.0	100.0	0.0	0.0	0.0	None	None	0.0	0.0	1089009389.0	Samsung	Samsung Sm-G390F	None	None	None	None	None	None	607.0	604.0	862600.0	50188.0	6248284.0	1500559.0	1936496.0	173853.0	15259380.0	18962873.0	17124581.0	415218.0	527707248.0	3529801.0	550709500.0	13910322.0	38542814.0	569138589.0
1.31144834997792e+19	4/12/2019 21:37	439.0	4/25/2019 8:08	553.0	1074638.0	208201402670191.0	33668185951.0	35298410295700.0	T89132C	None	None	70.0	54.0	None	None	100.0	0.0	0.0	0.0	100.0	0.0	0.0	0.0	None	None	22639.0	22700.0	1074638114.0	undefined	undefined	None	None	None	None	None	None	112.0	118.0	3148833.0	51181.0	10351530.0	2582603.0	1980032.0	922378.0	21332918.0	2611113.0	7345361.0	6536448.0	710293538.0	13167974.0	654978277.0	4436057.0	30307754.0	754452212.0
1.31144835012438e+19	4/13/2019 8:41	612.0	4/25/2019 8:16	168.0	1035261.0	208201448341047.0	33665368271.0	86762704322800.0	9.16456701058919E+015	102.0	5.0	22.0	38.0	None	None	100.0	0.0	0.0	0.0	100.0	0.0	0.0	0.0	None	None	9785.0	316210.0	1035261556.0	Huawei	Huawei Mate 20 Lite	None	None	None	None	None	None	33.0	655.0	1623509.0	1482.0	1837897.0	3068975.0	1838947.0	252032.0	7234465.0	1886295.0	13231006.0	17981760.0	44796223.0	14084934.0	803653557.0	10649768.0	47925246.0	70562047.0
1.30424259108654e+19	4/14/2019 2:11	592.0	4/25/2019 2:26	512.0	951292.0	208201009069207.0	33763490140.0	86546404964017.0	CELL_208_20_520025_1	39.0	18.0	3698.0	416.0	19520.0	None	99.0	0.0	0.0	0.0	99.0	0.0	0.0	0.0	230583.0	25427.0	70832.0	74477.0	951292920.0	undefined	undefined	None	3.0	1.0	None	2.0	None	708.0	666.0	3103940.0	57463.0	1304524.0	2568189.0	2987408.0	512696.0	12189786.0	19735183.0	6858496.0	12075206.0	748906189.0	16149622.0	537601820.0	7714657.0	58813016.0	775350343.0
1.31144835064325e+19	4/14/2019 12:48	121.0	4/25/2019 10:22	960.0	941634.0	208201448324028.0	33698743617.0	35562409696153.0	T42084A	None	None	46.0	49.0	None	None	100.0	0.0	0.0	0.0	100.0	0.0	0.0	0.0	None	None	162472.0	176488.0	941634839.0	Samsung	Samsung Galaxy A8 (2018)	None	None	None	None	None	None	794.0	826.0	342043.0	30582.0	7560820.0	1341279.0	3014208.0	365861.0	18436641.0	10860867.0	10587264.0	8467177.0	821671285.0	6548349.0	172920486.0	14749031.0	42363146.0	861612261.0
1.30424259146693e+19	4/15/2019 0:32	0.0	4/25/2019 0:40	284.0	864482.0	208200314385130.0	33659219748.0	35573109931422.0	L20434C	97.0	7.0	3845.0	2535.0	3231397.0	7230.0	70.0	26.0	2.0	0.0	99.0	0.0	0.0	0.0	132246.0	32449.0	1537874.0	1542046.0	864482284.0	Samsung	Samsung Galaxy Note 8 (Sm-N950F Ds)	None	14.0	165.0	None	1665.0	4.0	4421.0	6344.0	1541259.0	44154.0	8601949.0	176392.0	522457.0	243589.0	16338345.0	6573194.0	12211149.0	974201.0	811355188.0	1591237.0	64856042.0	12815208.0	22417975.0	850570347.0

In [37]:
def get_top_10_handsets():
    try:
        # Create a cursor to execute queries
        cur = conn.cursor()
        
        # Execute the corrected query to get the top 10 handsets
        cur.execute("""
            SELECT "Handset Type", COUNT(*) AS usage_count
            FROM xdr_data
            GROUP BY "Handset Type"
            ORDER BY usage_count DESC
            LIMIT 10;
        """)
        
        # Fetch all rows from the result
        top_handsets = cur.fetchall()
        
        # Close the cursor
        cur.close()
        
        return top_handsets

    except Exception as e:
        print(f"Error: {e}")
        conn.rollback()  # Rollback in case of error
        return []  # Return an empty list in case of error

# Call the function and print the top 10 handsets
handsets = get_top_10_handsets()
if handsets:  # Check if handsets is not empty
    for handset, count in handsets:
        print(f"Handset: {handset}, Usage Count: {count}")
else:
    print("No handsets data available or an error occurred.")

Handset: Huawei B528S-23A, Usage Count: 19752
Handset: Apple iPhone 6S (A1688), Usage Count: 9419
Handset: Apple iPhone 6 (A1586), Usage Count: 9023
Handset: undefined, Usage Count: 8987
Handset: Apple iPhone 7 (A1778), Usage Count: 6326
Handset: Apple iPhone Se (A1723), Usage Count: 5187
Handset: Apple iPhone 8 (A1905), Usage Count: 4993
Handset: Apple iPhone Xr (A2105), Usage Count: 4568
Handset: Samsung Galaxy S8 (Sm-G950F), Usage Count: 4520
Handset: Apple iPhone X (A1901), Usage Count: 3813

In [41]:
def get_top_10_handsets():
    try:
        # Create a cursor to execute queries
        cur = conn.cursor()
        
        # Execute the corrected query to get the top 10 handsets
        cur.execute("""
            SELECT "Handset Manufacturer", COUNT(*) AS usage_count
            FROM xdr_data
            GROUP BY "Handset Manufacturer"
            ORDER BY usage_count DESC
            LIMIT 3;
        """)
        
        # Fetch all rows from the result
        top_handsets = cur.fetchall()
        
        # Close the cursor
        cur.close()
        
        return top_handsets

    except Exception as e:
        print(f"Error: {e}")
        conn.rollback()  # Rollback in case of error
        return []  # Return an empty list in case of error

# Call the function and print the top 10 handsets
handsets = get_top_10_handsets()
if handsets:  # Check if handsets is not empty
    for handset, count in handsets:
        print(f"Handset manufacturer: {handset}, Usage Count: {count}")
else:
    print("No handsets data available or an error occurred.")

Handset manufacturer: Apple, Usage Count: 59565
Handset manufacturer: Samsung, Usage Count: 40839
Handset manufacturer: Huawei, Usage Count: 34423

In [43]:
def get_top_5_handsets_per_top_3_manufacturers():
    try:
        # Create a cursor to execute queries
        cur = conn.cursor()

        # Execute the SQL query
        cur.execute("""
            WITH top_manufacturers AS (
                SELECT "Handset Manufacturer", COUNT(*) AS usage_count
                FROM xdr_data
                GROUP BY "Handset Manufacturer"
                ORDER BY usage_count DESC
                LIMIT 3
            )
            SELECT "Handset Manufacturer", "Handset Type", COUNT(*) AS usage_count
            FROM xdr_data
            WHERE "Handset Manufacturer" IN (SELECT "Handset Manufacturer" FROM top_manufacturers)
            GROUP BY "Handset Manufacturer", "Handset Type"
            ORDER BY "Handset Manufacturer", usage_count DESC
            LIMIT 5;
        """)

        # Fetch all rows from the result
        top_handsets = cur.fetchall()

        # Close the cursor
        cur.close()

        return top_handsets

    except Exception as e:
        print(f"Error: {e}")
        conn.rollback()  # Rollback in case of error
        return []  # Return an empty list in case of error

# Call the function and print the result
handsets = get_top_5_handsets_per_top_3_manufacturers()
if handsets:  # Check if handsets is not empty
    for manufacturer, handset, count in handsets:
        print(f"Manufacturer: {manufacturer}, Handset: {handset}, Usage Count: {count}")
else:
    print("No handset data available or an error occurred.")

Manufacturer: Apple, Handset: Apple iPhone 6S (A1688), Usage Count: 9419
Manufacturer: Apple, Handset: Apple iPhone 6 (A1586), Usage Count: 9023
Manufacturer: Apple, Handset: Apple iPhone 7 (A1778), Usage Count: 6326
Manufacturer: Apple, Handset: Apple iPhone Se (A1723), Usage Count: 5187
Manufacturer: Apple, Handset: Apple iPhone 8 (A1905), Usage Count: 4993

In [58]:
import pandas as pd
def size():
    try:
        cur = conn.cursor()
        cur.execute("SELECT * FROM  xdr_data")
        data = cur.fetchall()
        column_names = [column[0] for column in cur.description]
        data_frame = pd.DataFrame(data, columns = column_names)
        return data_frame.size
    except Exception as e:
        print(f"error: {e}")
    
size()

8250055

In [63]:
import pandas as pd
def shape():
    try:
        cur = conn.cursor()
        cur.execute("SELECT * FROM  xdr_data")
        data = cur.fetchall()
        column_names = [column[0] for column in cur.description]
        data_frame = pd.DataFrame(data, columns = column_names)
        return data_frame.size
    except Exception as e:
        print(f"error:{e}")
shape()

8250055

In [64]:
import pandas as pd
def info():
    try:
        cur = conn.cursor()
        cur.execute("SELECT * FROM  xdr_data")
        data = cur.fetchall()
        column_names = [column[0] for column in cur.description]
        data_frame = pd.DataFrame(data, columns = column_names)
        return data_frame.info()
    except Exception as e:
        print(f"error:{e}")
info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [67]:
import pandas as pd
def statisticalInfor():
    try:
        cur = conn.cursor()
        cur.execute("SELECT * FROM  xdr_data")
        data = cur.fetchall()
        column_names = [column[0] for column in cur.description]
        data_frame = pd.DataFrame(data, columns = column_names)
        return data_frame.describe()
    except Exception as e:
        print(f"error:{e}")
statisticalInfor()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,150000.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893173e+18,288.611834,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,23971.878541,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [71]:
import pandas as pd

def fetch_data():
    try:
        cur = conn.cursor()
        cur.execute("SELECT * FROM xdr_data;")
        data = cur.fetchall()
        column_names = [column[0] for column in cur.description]
        data_frame = pd.DataFrame(data, columns=column_names)
        return data_frame
    except Exception as e:
        print(f"Error fetching data: {e}")
        return None

def quantiles(quantile_values):
    try:
        data_frame = fetch_data()
        
        if data_frame is not None:
            # Convert columns to numeric where possible
            numeric_data_frame = data_frame.apply(pd.to_numeric, errors='coerce')

            # Calculate quantiles only for numeric columns
            result = numeric_data_frame.quantile(quantile_values)
            print(f"Quantiles for {quantile_values}:")
            print(result)
        else:
            print("No data to process.")
    except Exception as e:
        print(f"Error: {e}")

quantiles([0.25, 0.5, 0.75])  # Calculate 25th, 50th (median), and 75th percentiles

Quantiles for [0.25, 0.5, 0.75]:
         Bearer Id  Start  Start ms  End  End ms  Dur. (ms)          IMSI  \
0.25  7.349883e+18    NaN     250.0  NaN   251.0   57440.50  2.082014e+14
0.50  7.349883e+18    NaN     499.0  NaN   500.0   86399.00  2.082015e+14
0.75  1.304243e+19    NaN     749.0  NaN   750.0  132430.25  2.082018e+14

      MSISDN/Number          IMEI  Last Location Name  ...  \
0.25   3.365130e+10  3.546071e+13        9.164567e+15  ...
0.50   3.366371e+10  3.572201e+13        9.164567e+15  ...
0.75   3.368349e+10  8.611970e+13        9.164567e+15  ...

      Youtube DL (Bytes)  Youtube UL (Bytes)  Netflix DL (Bytes)  \
0.25           5833501.0           5517965.0           5777156.0
0.50          11616019.0          11013447.0          11642217.0
0.75          17448518.0          16515562.0          17470478.0

      Netflix UL (Bytes)  Gaming DL (Bytes)  Gaming UL (Bytes)  \
0.25           5475981.0        210473253.0          4128476.0
0.50          10996384.0        423408104.0          8291208.0
0.75          16507268.0        633174167.0         12431624.0

      Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  Total DL (Bytes)
0.25       210186872.0         4145943.0        33222010.5       243106803.0
0.50       421803006.0         8267071.0        41143312.0       455841077.5
0.75       631691786.0        12384148.0        49034238.5       665705544.0

[3 rows x 55 columns]

In [76]:
# Import the function from the utils module
from utils import fetch_data

# Assuming you have a valid connection object `conn`
data_frame = fetch_data(conn)
print(data_frame.isnull().sum())

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

In [97]:
import pandas as pd
from utils import fetch_data

# Fetch data
df = fetch_data(conn)

def remove_outliers_iqr(df):
    try:
        # Print numeric columns
        numeric_columns = df.select_dtypes(include=['number']).columns
        print("Numeric columns in DataFrame:")
        print(numeric_columns)
        
        # Create a copy of the DataFrame to avoid modifying the original
        cleaned_df = df.copy()
        
        for column in numeric_columns:
            # Compute Q1 (25th percentile) and Q3 (75th percentile) for the column
            Q1 = df[column].quantile(0.25)
            Q3 = df[column].quantile(0.75)
            IQR = Q3 - Q1
            lower_bound = Q1 - 1.5 * IQR
            upper_bound = Q3 + 1.5 * IQR
            
            print(f"Column '{column}' - Q1: {Q1}, Q3: {Q3}, Lower Bound: {lower_bound}, Upper Bound: {upper_bound}")

            # Remove outliers
            cleaned_df = cleaned_df[(cleaned_df[column] >= lower_bound) & (cleaned_df[column] <= upper_bound)]
        
        print("DataFrame after outlier removal:")
        print(cleaned_df.head())
        return cleaned_df

    except Exception as e:
        print(f"Error: {e}")
        return None

# Call the function and assign the cleaned DataFrame to a new variable
cleaned_df = remove_outliers_iqr(df)

Numeric columns in DataFrame:
Index(['Bearer Id', 'Start ms', 'End ms', 'Dur. (ms)', 'IMSI', 'MSISDN/Number',
       'IMEI', 'Avg RTT DL (ms)', 'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)',
       'Avg Bearer TP UL (kbps)', 'TCP DL Retrans. Vol (Bytes)',
       'TCP UL Retrans. Vol (Bytes)', 'DL TP < 50 Kbps (%)',
       '50 Kbps < DL TP < 250 Kbps (%)', '250 Kbps < DL TP < 1 Mbps (%)',
       'DL TP > 1 Mbps (%)', 'UL TP < 10 Kbps (%)',
       '10 Kbps < UL TP < 50 Kbps (%)', '50 Kbps < UL TP < 300 Kbps (%)',
       'UL TP > 300 Kbps (%)', 'HTTP DL (Bytes)', 'HTTP UL (Bytes)',
       'Activity Duration DL (ms)', 'Activity Duration UL (ms)', 'Dur. (ms).1',
       'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')
Column 'Bearer Id' - Q1: 7.34988324695399e+18, Q3: 1.3042425978957576e+19, Lower Bound: -1.188930851051389e+18, Upper Bound: 2.1581240076962955e+19
Column 'Start ms' - Q1: 250.0, Q3: 749.0, Lower Bound: -498.5, Upper Bound: 1497.5
Column 'End ms' - Q1: 251.0, Q3: 750.0, Lower Bound: -497.5, Upper Bound: 1498.5
Column 'Dur. (ms)' - Q1: 57440.5, Q3: 132430.25, Lower Bound: -55044.125, Upper Bound: 244914.875
Column 'IMSI' - Q1: 208201401263249.0, Q3: 208201771619103.0, Lower Bound: 208200845729468.0, Upper Bound: 208202327152884.0
Column 'MSISDN/Number' - Q1: 33651295581.5, Q3: 33683490769.0, Lower Bound: 33603002800.25, Upper Bound: 33731783550.25
Column 'IMEI' - Q1: 35460708865439.0, Q3: 86119704674953.0, Lower Bound: -40527784848832.0, Upper Bound: 162108198389224.0
Column 'Avg RTT DL (ms)' - Q1: 32.0, Q3: 70.0, Lower Bound: -25.0, Upper Bound: 127.0
Column 'Avg RTT UL (ms)' - Q1: 2.0, Q3: 15.0, Lower Bound: -17.5, Upper Bound: 34.5
Column 'Avg Bearer TP DL (kbps)' - Q1: 43.0, Q3: 19710.75, Lower Bound: -29458.625, Upper Bound: 49212.375
Column 'Avg Bearer TP UL (kbps)' - Q1: 47.0, Q3: 1120.0, Lower Bound: -1562.5, Upper Bound: 2729.5
Column 'TCP DL Retrans. Vol (Bytes)' - Q1: 35651.5, Q3: 3768308.5, Lower Bound: -5563334.0, Upper Bound: 9367294.0
Column 'TCP UL Retrans. Vol (Bytes)' - Q1: 4694.75, Q3: 84020.25, Lower Bound: -114293.5, Upper Bound: 203008.5
Column 'DL TP < 50 Kbps (%)' - Q1: 91.0, Q3: 100.0, Lower Bound: 77.5, Upper Bound: 113.5
Column '50 Kbps < DL TP < 250 Kbps (%)' - Q1: 0.0, Q3: 4.0, Lower Bound: -6.0, Upper Bound: 10.0
Column '250 Kbps < DL TP < 1 Mbps (%)' - Q1: 0.0, Q3: 1.0, Lower Bound: -1.5, Upper Bound: 2.5
Column 'DL TP > 1 Mbps (%)' - Q1: 0.0, Q3: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Column 'UL TP < 10 Kbps (%)' - Q1: 99.0, Q3: 100.0, Lower Bound: 97.5, Upper Bound: 101.5
Column '10 Kbps < UL TP < 50 Kbps (%)' - Q1: 0.0, Q3: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Column '50 Kbps < UL TP < 300 Kbps (%)' - Q1: 0.0, Q3: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Column 'UL TP > 300 Kbps (%)' - Q1: 0.0, Q3: 0.0, Lower Bound: 0.0, Upper Bound: 0.0
Column 'HTTP DL (Bytes)' - Q1: 112403.5, Q3: 25042903.5, Lower Bound: -37283346.5, Upper Bound: 62438653.5
Column 'HTTP UL (Bytes)' - Q1: 24322.0, Q3: 1542827.0, Lower Bound: -2253435.5, Upper Bound: 3820584.5
Column 'Activity Duration DL (ms)' - Q1: 14877.75, Q3: 679609.5, Lower Bound: -982219.875, Upper Bound: 1676707.125
Column 'Activity Duration UL (ms)' - Q1: 21539.75, Q3: 599095.25, Lower Bound: -844793.5, Upper Bound: 1465428.5
Column 'Dur. (ms).1' - Q1: 57440785.25, Q3: 132430782.0, Lower Bound: -55044209.875, Upper Bound: 244915777.125
Column 'Nb of sec with 125000B < Vol DL' - Q1: 20.0, Q3: 693.5, Lower Bound: -990.25, Upper Bound: 1703.75
Column 'Nb of sec with 1250B < Vol UL < 6250B' - Q1: 10.0, Q3: 203.0, Lower Bound: -279.5, Upper Bound: 492.5
Column 'Nb of sec with 31250B < Vol DL < 125000B' - Q1: 26.0, Q3: 757.0, Lower Bound: -1070.5, Upper Bound: 1853.5
Column 'Nb of sec with 37500B < Vol UL' - Q1: 2.0, Q3: 35.0, Lower Bound: -47.5, Upper Bound: 84.5
Column 'Nb of sec with 6250B < Vol DL < 31250B' - Q1: 39.0, Q3: 1092.0, Lower Bound: -1540.5, Upper Bound: 2671.5
Column 'Nb of sec with 6250B < Vol UL < 37500B' - Q1: 3.0, Q3: 31.0, Lower Bound: -39.0, Upper Bound: 73.0
Column 'Nb of sec with Vol DL < 6250B' - Q1: 87.0, Q3: 2650.0, Lower Bound: -3757.5, Upper Bound: 6494.5
Column 'Nb of sec with Vol UL < 1250B' - Q1: 106.0, Q3: 2451.0, Lower Bound: -3411.5, Upper Bound: 5968.5
Column 'Social Media DL (Bytes)' - Q1: 899148.0, Q3: 2694938.0, Lower Bound: -1794537.0, Upper Bound: 5388623.0
Column 'Social Media UL (Bytes)' - Q1: 16448.0, Q3: 49334.0, Lower Bound: -32881.0, Upper Bound: 98663.0
Column 'Google DL (Bytes)' - Q1: 2882393.0, Q3: 8623552.0, Lower Bound: -5729345.5, Upper Bound: 17235290.5
Column 'Google UL (Bytes)' - Q1: 1024279.0, Q3: 3088454.0, Lower Bound: -2071983.5, Upper Bound: 6184716.5
Column 'Email DL (Bytes)' - Q1: 892793.0, Q3: 2689327.0, Lower Bound: -1802008.0, Upper Bound: 5384128.0
Column 'Email UL (Bytes)' - Q1: 233383.0, Q3: 700440.0, Lower Bound: -467202.5, Upper Bound: 1401025.5
Column 'Youtube DL (Bytes)' - Q1: 5833501.0, Q3: 17448518.0, Lower Bound: -11589024.5, Upper Bound: 34871043.5
Column 'Youtube UL (Bytes)' - Q1: 5517965.0, Q3: 16515562.0, Lower Bound: -10978430.5, Upper Bound: 33011957.5
Column 'Netflix DL (Bytes)' - Q1: 5777156.0, Q3: 17470478.0, Lower Bound: -11762827.0, Upper Bound: 35010461.0
Column 'Netflix UL (Bytes)' - Q1: 5475981.0, Q3: 16507268.0, Lower Bound: -11070949.5, Upper Bound: 33054198.5
Column 'Gaming DL (Bytes)' - Q1: 210473253.0, Q3: 633174167.0, Lower Bound: -423578118.0, Upper Bound: 1267225538.0
Column 'Gaming UL (Bytes)' - Q1: 4128476.0, Q3: 12431624.0, Lower Bound: -8326246.0, Upper Bound: 24886346.0
Column 'Other DL (Bytes)' - Q1: 210186872.0, Q3: 631691786.0, Lower Bound: -422070499.0, Upper Bound: 1263949157.0
Column 'Other UL (Bytes)' - Q1: 4145943.0, Q3: 12384148.0, Lower Bound: -8211364.5, Upper Bound: 24741455.5
Column 'Total UL (Bytes)' - Q1: 33222010.5, Q3: 49034238.5, Lower Bound: 9503668.5, Upper Bound: 72752580.5
Column 'Total DL (Bytes)' - Q1: 243106803.0, Q3: 665705544.0, Lower Bound: -390791308.5, Upper Bound: 1299603655.5
DataFrame after outlier removal:
Empty DataFrame
Columns: [Bearer Id, Start, Start ms, End, End ms, Dur. (ms), IMSI, MSISDN/Number, IMEI, Last Location Name, Avg RTT DL (ms), Avg RTT UL (ms), Avg Bearer TP DL (kbps), Avg Bearer TP UL (kbps), TCP DL Retrans. Vol (Bytes), TCP UL Retrans. Vol (Bytes), DL TP < 50 Kbps (%), 50 Kbps < DL TP < 250 Kbps (%), 250 Kbps < DL TP < 1 Mbps (%), DL TP > 1 Mbps (%), UL TP < 10 Kbps (%), 10 Kbps < UL TP < 50 Kbps (%), 50 Kbps < UL TP < 300 Kbps (%), UL TP > 300 Kbps (%), HTTP DL (Bytes), HTTP UL (Bytes), Activity Duration DL (ms), Activity Duration UL (ms), Dur. (ms).1, Handset Manufacturer, Handset Type, Nb of sec with 125000B < Vol DL, Nb of sec with 1250B < Vol UL < 6250B, Nb of sec with 31250B < Vol DL < 125000B, Nb of sec with 37500B < Vol UL, Nb of sec with 6250B < Vol DL < 31250B, Nb of sec with 6250B < Vol UL < 37500B, Nb of sec with Vol DL < 6250B, Nb of sec with Vol UL < 1250B, Social Media DL (Bytes), Social Media UL (Bytes), Google DL (Bytes), Google UL (Bytes), Email DL (Bytes), Email UL (Bytes), Youtube DL (Bytes), Youtube UL (Bytes), Netflix DL (Bytes), Netflix UL (Bytes), Gaming DL (Bytes), Gaming UL (Bytes), Other DL (Bytes), Other UL (Bytes), Total UL (Bytes), Total DL (Bytes)]
Index: []

[0 rows x 55 columns]

In [98]:
import pandas as pd
from utils import fetch_data

# Fetch data
df = fetch_data(conn)

def check_invalid_values(df):
    try:
        # Check for NaN values
        nan_count = df.isna().sum().sum()
        print(f"Total NaN values in the DataFrame: {nan_count}")

        # Check for NaN values in each column
        nan_per_column = df.isna().sum()
        print("NaN values per column:")
        print(nan_per_column)

        # Check for Infinite values
        inf_count = df.isin([float('inf'), float('-inf')]).sum().sum()
        print(f"Total Infinite values in the DataFrame: {inf_count}")

        # Check for Infinite values in each column
        inf_per_column = df.isin([float('inf'), float('-inf')]).sum()
        print("Infinite values per column:")
        print(inf_per_column)

        # Check for Non-Numeric Values in Numeric Columns
        numeric_columns = df.select_dtypes(include=['number']).columns
        for column in numeric_columns:
            non_numeric_values = df[~df[column].apply(pd.to_numeric, errors='coerce').notna()][column]
            if not non_numeric_values.empty:
                print(f"Non-numeric values in column '{column}':")
                print(non_numeric_values)

    except Exception as e:
        print(f"Error: {e}")

# Call the function
check_invalid_values(df)

Total NaN values in the DataFrame: 1031392
NaN values per column:
Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64
Total Infinite values in the DataFrame: 0
Infinite values per column:
Bearer Id                                   0
Start                                       0
Start ms                                    0
End                                         0
End ms                                      0
Dur. (ms)                                   0
IMSI                                        0
MSISDN/Number                               0
IMEI                                        0
Last Location Name                          0
Avg RTT DL (ms)                             0
Avg RTT UL (ms)                             0
Avg Bearer TP DL (kbps)                     0
Avg Bearer TP UL (kbps)                     0
TCP DL Retrans. Vol (Bytes)                 0
TCP UL Retrans. Vol (Bytes)                 0
DL TP < 50 Kbps (%)                         0
50 Kbps < DL TP < 250 Kbps (%)              0
250 Kbps < DL TP < 1 Mbps (%)               0
DL TP > 1 Mbps (%)                          0
UL TP < 10 Kbps (%)                         0
10 Kbps < UL TP < 50 Kbps (%)               0
50 Kbps < UL TP < 300 Kbps (%)              0
UL TP > 300 Kbps (%)                        0
HTTP DL (Bytes)                             0
HTTP UL (Bytes)                             0
Activity Duration DL (ms)                   0
Activity Duration UL (ms)                   0
Dur. (ms).1                                 0
Handset Manufacturer                        0
Handset Type                                0
Nb of sec with 125000B < Vol DL             0
Nb of sec with 1250B < Vol UL < 6250B       0
Nb of sec with 31250B < Vol DL < 125000B    0
Nb of sec with 37500B < Vol UL              0
Nb of sec with 6250B < Vol DL < 31250B      0
Nb of sec with 6250B < Vol UL < 37500B      0
Nb of sec with Vol DL < 6250B               0
Nb of sec with Vol UL < 1250B               0
Social Media DL (Bytes)                     0
Social Media UL (Bytes)                     0
Google DL (Bytes)                           0
Google UL (Bytes)                           0
Email DL (Bytes)                            0
Email UL (Bytes)                            0
Youtube DL (Bytes)                          0
Youtube UL (Bytes)                          0
Netflix DL (Bytes)                          0
Netflix UL (Bytes)                          0
Gaming DL (Bytes)                           0
Gaming UL (Bytes)                           0
Other DL (Bytes)                            0
Other UL (Bytes)                            0
Total UL (Bytes)                            0
Total DL (Bytes)                            0
dtype: int64
Non-numeric values in column 'Bearer Id':
254      NaN
419      NaN
466      NaN
481      NaN
506      NaN
          ..
149059   NaN
149206   NaN
149376   NaN
149724   NaN
150000   NaN
Name: Bearer Id, Length: 991, dtype: float64
Non-numeric values in column 'Start ms':
150000   NaN
Name: Start ms, dtype: float64
Non-numeric values in column 'End ms':
150000   NaN
Name: End ms, dtype: float64
Non-numeric values in column 'Dur. (ms)':
150000   NaN
Name: Dur. (ms), dtype: float64
Non-numeric values in column 'IMSI':
254      NaN
419      NaN
466      NaN
481      NaN
506      NaN
          ..
149059   NaN
149206   NaN
149376   NaN
149724   NaN
150000   NaN
Name: IMSI, Length: 570, dtype: float64
Non-numeric values in column 'MSISDN/Number':
254      NaN
255      NaN
419      NaN
466      NaN
481      NaN
          ..
149675   NaN
149724   NaN
149813   NaN
149856   NaN
150000   NaN
Name: MSISDN/Number, Length: 1066, dtype: float64
Non-numeric values in column 'IMEI':
254      NaN
419      NaN
466      NaN
481      NaN
506      NaN
          ..
149059   NaN
149206   NaN
149376   NaN
149724   NaN
150000   NaN
Name: IMEI, Length: 572, dtype: float64
Non-numeric values in column 'Avg RTT DL (ms)':
2        NaN
3        NaN
4        NaN
5        NaN
8        NaN
          ..
149981   NaN
149985   NaN
149987   NaN
149994   NaN
150000   NaN
Name: Avg RTT DL (ms), Length: 27829, dtype: float64
Non-numeric values in column 'Avg RTT UL (ms)':
2        NaN
3        NaN
4        NaN
5        NaN
8        NaN
          ..
149981   NaN
149985   NaN
149987   NaN
149994   NaN
150000   NaN
Name: Avg RTT UL (ms), Length: 27812, dtype: float64
Non-numeric values in column 'Avg Bearer TP DL (kbps)':
150000   NaN
Name: Avg Bearer TP DL (kbps), dtype: float64
Non-numeric values in column 'Avg Bearer TP UL (kbps)':
150000   NaN
Name: Avg Bearer TP UL (kbps), dtype: float64
Non-numeric values in column 'TCP DL Retrans. Vol (Bytes)':
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
149996   NaN
149997   NaN
149998   NaN
149999   NaN
150000   NaN
Name: TCP DL Retrans. Vol (Bytes), Length: 88146, dtype: float64
Non-numeric values in column 'TCP UL Retrans. Vol (Bytes)':
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
149996   NaN
149997   NaN
149998   NaN
149999   NaN
150000   NaN
Name: TCP UL Retrans. Vol (Bytes), Length: 96649, dtype: float64
Non-numeric values in column 'DL TP < 50 Kbps (%)':
13       NaN
149      NaN
546      NaN
679      NaN
756      NaN
          ..
149307   NaN
149381   NaN
149543   NaN
149641   NaN
150000   NaN
Name: DL TP < 50 Kbps (%), Length: 754, dtype: float64
Non-numeric values in column '50 Kbps < DL TP < 250 Kbps (%)':
13       NaN
149      NaN
546      NaN
679      NaN
756      NaN
          ..
149307   NaN
149381   NaN
149543   NaN
149641   NaN
150000   NaN
Name: 50 Kbps < DL TP < 250 Kbps (%), Length: 754, dtype: float64
Non-numeric values in column '250 Kbps < DL TP < 1 Mbps (%)':
13       NaN
149      NaN
546      NaN
679      NaN
756      NaN
          ..
149307   NaN
149381   NaN
149543   NaN
149641   NaN
150000   NaN
Name: 250 Kbps < DL TP < 1 Mbps (%), Length: 754, dtype: float64
Non-numeric values in column 'DL TP > 1 Mbps (%)':
13       NaN
149      NaN
546      NaN
679      NaN
756      NaN
          ..
149307   NaN
149381   NaN
149543   NaN
149641   NaN
150000   NaN
Name: DL TP > 1 Mbps (%), Length: 754, dtype: float64
Non-numeric values in column 'UL TP < 10 Kbps (%)':
127      NaN
337      NaN
364      NaN
605      NaN
1151     NaN
          ..
149351   NaN
149682   NaN
149740   NaN
149788   NaN
150000   NaN
Name: UL TP < 10 Kbps (%), Length: 792, dtype: float64
Non-numeric values in column '10 Kbps < UL TP < 50 Kbps (%)':
127      NaN
337      NaN
364      NaN
605      NaN
1151     NaN
          ..
149351   NaN
149682   NaN
149740   NaN
149788   NaN
150000   NaN
Name: 10 Kbps < UL TP < 50 Kbps (%), Length: 792, dtype: float64
Non-numeric values in column '50 Kbps < UL TP < 300 Kbps (%)':
127      NaN
337      NaN
364      NaN
605      NaN
1151     NaN
          ..
149351   NaN
149682   NaN
149740   NaN
149788   NaN
150000   NaN
Name: 50 Kbps < UL TP < 300 Kbps (%), Length: 792, dtype: float64
Non-numeric values in column 'UL TP > 300 Kbps (%)':
127      NaN
337      NaN
364      NaN
605      NaN
1151     NaN
          ..
149351   NaN
149682   NaN
149740   NaN
149788   NaN
150000   NaN
Name: UL TP > 300 Kbps (%), Length: 792, dtype: float64
Non-numeric values in column 'HTTP DL (Bytes)':
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
149996   NaN
149997   NaN
149998   NaN
149999   NaN
150000   NaN
Name: HTTP DL (Bytes), Length: 81474, dtype: float64
Non-numeric values in column 'HTTP UL (Bytes)':
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
149996   NaN
149997   NaN
149998   NaN
149999   NaN
150000   NaN
Name: HTTP UL (Bytes), Length: 81810, dtype: float64
Non-numeric values in column 'Activity Duration DL (ms)':
150000   NaN
Name: Activity Duration DL (ms), dtype: float64
Non-numeric values in column 'Activity Duration UL (ms)':
150000   NaN
Name: Activity Duration UL (ms), dtype: float64
Non-numeric values in column 'Dur. (ms).1':
150000   NaN
Name: Dur. (ms).1, dtype: float64
Non-numeric values in column 'Nb of sec with 125000B < Vol DL':
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
149996   NaN
149997   NaN
149998   NaN
149999   NaN
150000   NaN
Name: Nb of sec with 125000B < Vol DL, Length: 97538, dtype: float64
Non-numeric values in column 'Nb of sec with 1250B < Vol UL < 6250B':
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
149996   NaN
149997   NaN
149998   NaN
149999   NaN
150000   NaN
Name: Nb of sec with 1250B < Vol UL < 6250B, Length: 92894, dtype: float64
Non-numeric values in column 'Nb of sec with 31250B < Vol DL < 125000B':
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
149996   NaN
149997   NaN
149998   NaN
149999   NaN
150000   NaN
Name: Nb of sec with 31250B < Vol DL < 125000B, Length: 93586, dtype: float64
Non-numeric values in column 'Nb of sec with 37500B < Vol UL':
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
149996   NaN
149997   NaN
149998   NaN
149999   NaN
150000   NaN
Name: Nb of sec with 37500B < Vol UL, Length: 130254, dtype: float64
Non-numeric values in column 'Nb of sec with 6250B < Vol DL < 31250B':
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
149996   NaN
149997   NaN
149998   NaN
149999   NaN
150000   NaN
Name: Nb of sec with 6250B < Vol DL < 31250B, Length: 88317, dtype: float64
Non-numeric values in column 'Nb of sec with 6250B < Vol UL < 37500B':
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
149996   NaN
149997   NaN
149998   NaN
149999   NaN
150000   NaN
Name: Nb of sec with 6250B < Vol UL < 37500B, Length: 111843, dtype: float64
Non-numeric values in column 'Nb of sec with Vol DL < 6250B':
13       NaN
149      NaN
546      NaN
679      NaN
756      NaN
          ..
149307   NaN
149381   NaN
149543   NaN
149641   NaN
150000   NaN
Name: Nb of sec with Vol DL < 6250B, Length: 755, dtype: float64
Non-numeric values in column 'Nb of sec with Vol UL < 1250B':
127      NaN
337      NaN
364      NaN
605      NaN
1151     NaN
          ..
149351   NaN
149682   NaN
149740   NaN
149788   NaN
150000   NaN
Name: Nb of sec with Vol UL < 1250B, Length: 793, dtype: float64
Non-numeric values in column 'Total UL (Bytes)':
150000   NaN
Name: Total UL (Bytes), dtype: float64
Non-numeric values in column 'Total DL (Bytes)':
150000   NaN
Name: Total DL (Bytes), dtype: float64